# https://www.home-assistant.io/integrations/default_config/
default_config:

# https://www.home-assistant.io/integrations/logger/
logger:
  default: warn
  logs:
    aiohttp: debug
    custom_components.weatherlink: debug
